Source: xresponse
Section: x11
Priority: optional
Maintainer: Eero Tamminen <eero.tamminen@nokia.com>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 5), libx11-dev, libxdamage-dev, libxfixes-dev,
  libxtst-dev, libxext-dev, libxi-dev, pkg-config, autoconf, automake,
  libglib2.0-dev, aegis-builder (>= 1.6)

Package: xresponse
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: x11 debug tool
 xresponse is a simple tool for meassuring UI response times to a full mouse
 click event. It requires the Xtest, to 'fake' the mouse event, and XDamage, to
 report areas of the display that have changed.

Package: xresponse-dbg
Section: debug
Architecture: any
Priority: extra
Depends: ${misc:Depends}, xresponse (=${binary:Version})
Description: Debug symbols xresponse package.
 This package provides debug symbols for xresponse package.
 
